* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ededed;
    text-align: center;
}

#settings {
    position: fixed;
    text-align: start;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 200px;
    padding: 10px;
    background-color: #e0e0e0;
}

#container {
    display: grid;
    height: 80vh;
    width: 80vh;
    border: 3px solid rgb(95, 93, 93);
    border-radius: 5px;
    margin: 0 auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #fff;
}

#coloring {
    padding: 0px;
    border: none;
    height: 20px;
    width: 40px;
}

#gridSize {
    width: 60px;
}
